@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-polygon {
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
  }
}

@font-face {
  font-family: "IRANSans";
  src: url("./assets/fonts/IranSans/woff2/IRANSansWeb.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: #242424;
  color: aliceblue;
}